@use "../abstracts/mixins";

.app-home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.swag {
  grid-area: 1 / span 3;
}

.app-home__side-by-side {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  overflow: hidden;

  @media (max-width: 970px) {
    display: flex;
    flex-direction: column;
  }
}

.app-card__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--text-color) !important;
  text-decoration: none !important;
}

.app-card__container:link:hover .app-card__preview {
  filter: brightness(1.1);
}

.app-card__container:link:hover .app-card__title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.app-card__preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 7;
  overflow: hidden;
  margin-bottom: 0.8rem;
  transition: var(--standard-transition);
  border-radius: 1rem;
  z-index: 0;

  svg {
    width: 40%;
    height: 40%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    max-height: max(40%, 80px)
  }

  &::before, &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    aspect-ratio: 1;
    opacity: 0.75;
  }

  &::before {
    background: var(--card-border-color);
  }
}

.app-card__preview__introduction {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 100%;
    margin: -10%;
    aspect-ratio: 1;
    background: repeating-conic-gradient(var(--background) 0deg, rgba(100, 100, 100, 0.25) 20deg);
    animation: sunburst-rotation 100s infinite linear;
    z-index: -1;
    opacity: 0.2;
    border-radius: 100%;
    flex: 1;
  }
}

@keyframes sunburst-rotation {
  to {
    transform: rotate(360deg);
  }
}

.app-card__title {
  @include mixins.base-text;
  margin: 0;
}

.app-card__description {
  @include mixins.base-text;
  margin: 0;
  color: var(--text-color-secondary);
}
